---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} Doran Penner, built with
        <a href="https://github.com/markteekman/accessible-astro-starter">
          Accessible Astro
        </a> 💜
      </p>
    </div>
  </section>
</footer>
